{% extends "base.html" %}

{% block content %}
<div id="questionnaire" class="container">
    <form>
        <div class="row">
            <div class="col-lg-4">
                <label for="workagain">Would you like to work with $name$ again?</label>
                <div class="form-group">
                    <div class="radio"><label>
                        <input type="radio" name="workagain" id="workagain" value="1">I'd rather be quartered
                    </label></div>
                    <div class="radio"><label>
                        <input type="radio" name="workagain" id="workagain" value="2">I'd rather not
                    </label></div>
                    <div class="radio"><label>
                        <input type="radio" name="workagain" id="workagain" value="3"> I wouldn't mind
                    </label></div>
                    <div class="radio"><label>
                        <input type="radio" name="workagain" id="workagain" value="4"> I'd be happy to
                    </label></div>
                    <div class="radio"><label>
                        <input type="radio" name="workagain" id="workagain" value="5"> Very much so
                    </label></div>
                    <div class="radio"><label>
                        <input type="radio" name="workagain" id="workagain" value="6"> More than anything
                    </label></div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label for="didenjoy">What did you enjoy the most when working with $name$?</label>
                    <textarea name="didenjoy" id="didenjoy" class="form-control" rows="5" placeholder="Please mention concrete events and your feelings associated with them."></textarea>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <div class="form-group">
                        <label for="didnotenjoy">What did you NOT enjoy when working with $name$?</label>
                        <textarea name="didnotenjoy" id="didnotenjoy" class="form-control" rows="5" placeholder="Please mention concrete events and your feelings associated with them."></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default">Send feedback</button>
        </div>
    </form>
</div>

{% endblock %}
