{% extends "base.html" %}

{% block content %}
<div class="container">
    <table class="table table-striped">
        <tr>
            <th>Would they like to work with you again</th>
            <th>What they enjoyed the most when working with you</th>
            <th>What they did NOT enjoy when working with you</th>
        </tr>

        {% for feedback in feedbacks %}
        <tr>
            <td>{{ feedback.workagain }}</td>
            <td>{{ feedback.didenjoy }}</td>
            <td>{{ feedback.didnotenjoy }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
