{% extends "base.html" %}
{% load cms_tags %}

{% block stylesheets %}
<style>
    h1, .h1 { text-align: center; }
    #signup-form { text-align: center; }
    #signup-form input, #signup-form button { text-align: center; margin: auto; width: 250px; }
</style>
{% endblock %}

{% block content %}
<div class="container benefits">
    <div class="row">
        <div class="col-sm-6">
            <div class="well well-lg">
                <i class="fa fa-rocket"></i>
                {% placeholder "individual" %}
            </div>
        </div>

        <div class="col-sm-6">
            <div class="well well-lg">
                <i class="fa fa-group"></i>
                {% placeholder "team" %}
            </div>
        </div>
    </div>
</div>

<div class="container features">
    <h1>{% placeholder "coming_soon" %}</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="well">
                <i class="fa fa-rocket"></i>
                {% placeholder "individual_box_1" %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <i class="fa fa-rocket"></i>
                {% placeholder "individual_box_2" %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <i class="fa fa-rocket"></i>
                {% placeholder "individual_box_3" %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="well">
                <i class="fa fa-group"></i>
                {% placeholder "team_box_1" %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <i class="fa fa-group"></i>
                {% placeholder "team_box_2" %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <i class="fa fa-group"></i>
                {% placeholder "team_box_3" %}
            </div>
        </div>
    </div>
</div>

<div id="signup-form" class="container">
    <div id="mc_embed_signup">
        <form action="//fluidcircle.us3.list-manage.com/subscribe/post?u=47b4c221878d6aafcb56c62d5&amp;id=3143a6ac20" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form" target="_blank" novalidate>
            <label for="mce-EMAIL" class="h1">{% placeholder "want_this" %}</label>
            <div class="form-group">
                <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Your email address">
            </div>
            <div class="form-group">
                <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">Keep in touch</button>
            </div>
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_47b4c221878d6aafcb56c62d5_3143a6ac20" tabindex="-1" value=""></div>

            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
        </form>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    </div>
</div>
{% endblock %}
