{% extends "base.html" %}
{% load cms_tags menu_tags %}

{% block stylesheets %}
<style>
    .articlelist ul { padding-left: 0; }
    .articlelist li { font-size: 30px; font-weight: 300; list-style-type: none; text-align: center; }
</style>
{% endblock %}

{% block title %}{% page_attribute "page_title" %}{% endblock %}

{% block content %}
<div class="container articlelist">
    <h1>Articles</h1>
</div>

<div class="container articlelist">
    <ul>
        {% show_sub_menu 10 1 100 "menu.html" %}
    </ul>
</div>
{% endblock %}
