{% extends "base.html" %}

{% block content %}

<div class="container benefits">
    <div class="row">
        <div class="col-sm-6">
            <div class="well well-lg">
                <i class="fa fa-rocket"></i>
                <h2>Develop your skills</h2>
                <ul>
                    <li>See how you improve over time</li>
                    <li>Give and receive honest, direct, constructive feedback</li>
                    <li>Walk through guided personal retrospectives</li>
                </ul>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="well well-lg">
                <i class="fa fa-group"></i>
                <h2>Empower your team</h2>
                <ul>
                    <li>Check the health of your team</li>
                    <li>Share bonuses fairly and transparently</li>
                    <li>Evaluate candidates for promotion based on peer review</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container features">
    <h1>Coming soon, apps for...</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="well">
                <i class="fa fa-rocket"></i>
                <h3>Direct feedback</h3>
                <ul>
                    <li>Three simple questions</li>
                    <li>Anonymous, direct, constructive</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <i class="fa fa-rocket"></i>
                <h3>Personal retrospective</h3>
                <ul>
                    <li>Set aside time to reflect</li>
                    <li>Write what’s on your mind or answer a set of targeted questions</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <i class="fa fa-rocket"></i>
                <h3>Improvement timeline</h3>
                <ul>
                    <li>See the feedback you got over time</li>
                    <li>Compare current and historical results</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="well">
                <i class="fa fa-group"></i>
                <h3>Merit bonus</h3>
                <ul>
                    <li>Set a budget for bonuses</li>
                    <li>Each team member can give the bonus to people who deserve it the most</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <i class="fa fa-group"></i>
                <h3>Peer promotion</h3>
                <ul>
                    <li>Define expectations for promotion</li>
                    <li>Compare to others on the target level</li>
                    <li>Peer promote deserving candidates</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <h3>Team retrospective</h3>
                <i class="fa fa-group"></i>
                <ul>
                    <li>Gather data and generate insight.</li>
                    <li>Decide what to do. Together. Remotely.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="signup-form" class="container">
    <div id="mc_embed_signup">
        <form action="//fluidcircle.us3.list-manage.com/subscribe/post?u=47b4c221878d6aafcb56c62d5&amp;id=3143a6ac20" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form" target="_blank" novalidate>
            <label for="mce-EMAIL" class="h1">I want this!</label>
            <div class="form-group">
                <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Your email address">
            </div>
            <div class="form-group">
                <input type="submit" value="Keep in touch" name="subscribe" id="mc-embedded-subscribe" class="button form-control">
            </div>
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_47b4c221878d6aafcb56c62d5_3143a6ac20" tabindex="-1" value=""></div>

            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
        </form>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    </div>
</div>

{% endblock %}
