<!DOCTYPE html>
<html>
<head>
    <title>People Skills For Geeks</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100,300,400">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,400">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body { padding-top: 70px; font-family: "Roboto"; font-size: 16px; }
        .navbar { font-family: "Roboto Condensed"; font-size: 20px; font-weight: 300; }
        .navbar-brand { font-size: 30px; }
        .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a { color: #BBB; }

        h1, .h1 { font-size: 36px; font-weight: 100; text-align: center; margin-top: 30px; }
        h2, h3 { font-family: "Roboto Condensed"; font-weight: 300; }
        li { list-style-type: square; }

        h2, h3 { margin-top: 0px; }
        .list-group { padding: 0px; }
        .list-group-item { padding: 20px; background-color: #F5F5F5; border-color: #E3E3E3; }
        .benefits .well .fa { font-size: 30px; position: absolute; }
        .benefits h2 { padding-left: 40px; }
        .features h3, .features ul ul { padding-left: 20px; }

        form div { text-align: center; }
        .form-inline .form-control { text-align: center; width: 250px; margin: 5px; }
        .form-control { font-size: 16px; display: inline-block; }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">People Labs</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <!--
            <ul class="nav navbar-nav">
                <li><a href="#">Benefits</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Sign Up</a></li>
            </ul>
            -->
            <ul class="nav navbar-nav navbar-right">
            <li><a href="http://eepurl.com/bcn2t5"><i class="fa fa-newspaper-o"></i> Newsletter</a></li>
            <li><a href="http://www.meetup.com/People-Skills-for-Geeks"><i class="fa fa-coffee"></i> Meetup in Warsaw</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container benefits">
    <div class="row">
        <div class="col-sm-6">
            <div class="well well-lg">
                <i class="fa fa-rocket"></i>
                <h2>Grow your career</h2>
                <ul>
                    <li>See how you improve over time</li>
                    <li>Give and receive honest, direct, constructive feedback</li>
                    <li>Walk through guided personal retrospectives</li>
                </ul>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="well well-lg">
                <i class="fa fa-group"></i>
                <h2>Empower your team</h2>
                <ul>
                    <li>Check the health of your team</li>
                    <li>Share bonuses fairly and transparently</li>
                    <li>Evaluate candidates for promotion based on peer review</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container features">
    <h1>We will help you!</h1>

    <div class="row">
        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item">
                    <h3>Direct feedback</h3>
                    <ul>
                        <li>Three simple questions</li>
                        <li>Anonymous, direct, constructive</li>
                    </ul>
                </li>

                <li class="list-group-item">
                    <h3>Personal retrospective</h3>
                    <ul>
                        <li>Set aside time to reflect</li>
                        <li>Write what’s on your mind or answer a set of targeted questions</li>
                    </ul>
                </li>

                <li class="list-group-item">
                    <h3>Improvement timeline</h3>
                    <ul>
                        <li>See the feedback you got over time</li>
                        <li>Compare current and historical results</li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item">
                    <h3>Merit bonus</h3>
                    <ul>
                        <li>Set a budget for bonuses</li>
                        <li>Each team member can give the bonus to people who deserve it the most</li>
                    </ul>
                </li>
                <li class="list-group-item">
                    <h3>Peer promotion</h3>
                    <ul>
                        <li>Define expectations for promotion</li>
                        <li>Compare to others on the target level</li>
                        <li>Peer promote deserving candidates</li>
                    </ul>
                </li>

                <li class="list-group-item">
                    <h3>Team retrospective</h3>
                    <ul>
                        <li>Gather data</li>
                        <li>Generate insight</li>
                        <li>Decide what to do; together; remotely</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div id="mc_embed_signup">
        <form action="//fluidcircle.us3.list-manage.com/subscribe/post?u=47b4c221878d6aafcb56c62d5&amp;id=3143a6ac20" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
            <div><label for="mce-EMAIL" class="h1">Keep in touch</label></div>
            <div><input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Your email address"></div>
            <div><input type="submit" value="I want this!" name="subscribe" id="mc-embedded-subscribe" class="button form-control"></div>
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_47b4c221878d6aafcb56c62d5_3143a6ac20" tabindex="-1" value=""></div>

            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
        </form>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    </div>
</div>

</body>
</html>
